<section class="me-profile me-header">
  <header>
    <h1 class="me-profile_descr--title">
      Hi there, my name is <br/><a href="/">{{ site.data.me.name }}</a><br/> and I do computer stuff.
    </h1>

    <ul class="me-profile_descr--social">
      <li class="me-profile_descr__item me-profile_descr__item--text">
        <a href="/">me</a>
      </li>
      <li class="me-profile_descr__item me-profile_descr__item--text">
        <a href="/blog">blog</a>
      </li>
      <!-- <li class="me-profile_descr__item me-profile_descr__item--text">
        <a href="/notebook">notebook</a>
      </li> -->
      <li class="me-profile_descr--social__item me-profile_descr__item--text">
        |
      </li>
      <li class="me-profile_descr--social__item">
        <a href="https://github.com/jugoncalves">
          <i class="icon-github"></i>
        </a>
      </li>
      <li class="me-profile_descr--social__item">
        <a href="https://twitter.com/junspector">
          <i class="icon-twitter"></i>
        </a>
      </li>
      <li class="me-profile_descr--social__item">
        <a href="https://medium.com/@jugoncalves">
          <i class="icon-medium"></i>
        </a>
      </li>
    </ul>
  </header>
</section>
