<section class="me-profile me-header">
  <header>
    <h1 class="me-profile_descr--title">
      Hi there, my name is <a href="/">{{ site.data.me.name }}</a><br/> and I do computer stuff.
    </h1>

    <ul class="me-profile_descr--social">
      <li class="me-profile_descr--social__item">
        <a href="{{ site.data.me.github }}">
          <i class="fa fa-github-alt"></i>
        </a>
      </li>
      <li class="me-profile_descr--social__item">
        <a href="{{ site.data.me.twitter }}">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li class="me-profile_descr--social__item">
        <a href="https://www.linkedin.com/in/jugoncalves">
          <i class="fa fa-linkedin"></i>
        </a>
      </li>
    </ul>
  </header>
</section>
