<aside class="me-profile">

  <article class="me-profile_page">
    <ul class="me-profile_page--list">
      <!-- <li class="me-profile_page--item">
        <a href="/blog">blog</a>
      </li> -->
      <li class="me-profile_page--item">
        <a href="/talks">talks</a>
      </li>
      <li class="me-profile_page--item">
        <a href="/projects">projects</a>
      </li>
    </ul>

    <ul class="me-profile_descr--social">
      <li class="me-profile_descr--social__item">
        <a href="{{ site.data.me.github }}">
          <i class="fa fa-github-alt"></i>
        </a>
      </li>
      <li class="me-profile_descr--social__item">
        <a href="{{ site.data.me.twitter }}">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li class="me-profile_descr--social__item">
        <a href="mailto:{{ site.data.me.email }}">
          <i class="fa fa-envelope"></i>
        </a>
      </li>
    </ul>
  </article>
  

  <article class="me-profile_descr">
    <h1 class="me-profile_descr--title">
      <a href="/">{{ site.data.me.name }}</a>
    </h1> 
    <p class="me-profile_descr--text">{{ site.data.me.descr }}</p>
      
  </article>

  <figure class="me-profile_img">
    <img src="/assets/main/images/juju.jpg" alt="">
  </figure>
    
</aside>
  


