---
layout: default
title: Blog
---

<section class="me-index">
  <h2 class="me-index_title">Blog</h2>

  <p>Some random thoughts on CS-related topics can be found here.</p>
  <p>Enjoy.</p>

  <ul class="me-list_posts">
    {% for post in site.posts %}
      <li class="me-list_posts--item">
        <a href="{{ post.url }}" class="me-list_posts--item__title">{{ post.title }}</a>
        <small class="me-list_posts--item__date">
          from {{ post.date | date: "%B %-d, %Y" }}
        </small>
      </li>
    {% endfor %}
  </ul>
</section>
<section class="me-index me-index--stories">
  <h2 class="me-index_title">Medium Stories</h2>

  <p>Here is a good collections of stories written at Medium.</p>

  <ul class="me-list_posts">
    {% for story in site.data.stories %}
    <li class="me-list_posts--item">
      <a href="{{ story.url }}" class="me-list_posts--item__title">{{ story.title }}</a>
    </li>
    {% endfor %}
  </ul>
</section>
