.me-list
  drf-grid_column(2/3)

.me-list_posts--item__date
  &:before
    content '('
  &:after
    content ')'

.me-index_projects--item, .me-index_talks--item
  .fa
    font-size 1.5em

.me-index_projects--item__title, .me-index_talks--item__title
  font-size 1.5em

.me-index_projects--item__descr, .me-index_talks--item__event
  margin-left 15px
  margin-top 0