
// libs
@import 'node_modules/nib/index'
@import 'node_modules/jeet/stylus/jeet/index'
@import 'node_modules/drf.colors/lib/drf.color'
@import 'node_modules/font-awesome/css/font-awesome.css'

global-reset()

// functions
SpecialFont(weight = 400)
  font-family 'Abel', sans-serif;
  font-weight weight
  line-height 1

NormalFont(weight = 400)
  font-family "Helvetica Nue", Helvetica, Arial, sans-serif
  font-weight weight
  line-height 1

// main styles
html, body
  height 100%

body
  color black
  SpecialFont()
  font-size 18px

a
  color #c33
  transition all 1s
  text-decoration none
  border-bottom 1px solid #c33

  &:hover
    color black

p, span
  line-height 1.5

.nopes
  text-decoration line-through


@import 'src/styl/profile'
@import 'src/styl/index'
@import 'src/styl/post'
