.me-post
  width 75%
  margin 0 auto 50px
  font-size 1.2em
  padding 20px

  @media (max-width: 700px)
    width 80%

  p
    margin-bottom 30px
    letter-spacing 1.2

  h2
    SpecialFont()
    font-size 2em
    margin 50px 0 20px

  h3
    SpecialFont()
    font-size 1.3em
    margin 40px 0 20px

  em
    font-style italic

  code
    font-family monospace
    font-size .8em
    line-height 1
    color white
    background-color red
    display inline-block
    padding 4px 8px

  pre
    padding 10px
    margin 30px 0
    overflow scroll

    code
      background-color transparent

  ol
    margin 0 25px 50px
    list-style-type decimal

    li
      margin-bottom 15px

    ol
      list-style-type lower-alpha

  ul
    margin 0 25px 50px

    li
      margin-bottom 15px

  @import 'src/styl/syntax'

.me-post_title
  font-size 2em
  text-align center
  margin-bottom 0

.me-post_date
  padding-bottom 50px
  text-align center

.me-post_more
  display inline-block
  margin-top 50px

  a
    margin-right 20px
  i
    font-size .8em

.me-list_posts--item
  margin-bottom 15px

.me-list_posts--item__date
  font-size .8em
  SpecialFont()
