.me-post
  width 50%
  margin 0 auto 50px
  font-size 1.2em
  padding 20px

  p
    margin-bottom 10px

  pre
    padding 10px
    margin 10px 0

  code
    font-family "Source Code Pro", monospace

  ol
    margin-left 28px

    ol
      list-style-type lower-alpha

.me-post_title
  font-size 2em
  text-align center
  margin-bottom 0

.me-post_date
  padding-bottom 50px
  text-align center

.me-post_more
  margin-top 50px
