// profile page
.me-profile
  align(horizontal)
  font-size 16px

.me-profile_img
  text-align center

.me-profile_descr
  text-align center
  .me-profile_descr--title
    SpecialFont(800)
    color navy
    margin 0
    a
      border none
  .me-profile_descr--text
    SpecialFont(200)
    margin 0
    .fa
      font-size .5em

.me-profile_descr--social
  width 100%
  text-align center
.me-profile_descr--social__item
  display: inline-block
  margin-right 10px
  font-size 2em
  &:last-child
    margin-right 0
  a
    border none
      
.me-profile_page

.me-profile_page--list
  text-align center

.me-profile_page--item
  display inline-block
  margin-right 1%
  &:last-child
    margin-right 0
  a 
   border-bottom: 1px solid lime 