---
layout: default
---

<section class="me-post">
  <h2 class="me-post_title">{{ page.title }}</h2>
  <p class="me-post_date">{{ page.date | date: "%B %-d, %Y" }}</p>

  <article class="me-post_article">
    {{ content }}
  </article>

  <p class="me-post_more">
    <a href="/blog">
      <i class="icon-posts"></i> Wanna read more?</a>
    <a href="https://github.com/jugoncalves/jugoncalves.github.io/issues">
      <i class="icon-bug"></i> Have found any innacurate infomartion?</a>
  </p>


  <div id="disqus_thread"></div>
  <script type="text/javascript">
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  var disqus_shortname = 'jugoncalves'; // required: replace example with your forum shortname

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript> -->

</section>
